snippet meetingnotes "Meeting notes template" b
Meeting notes: ${1:Title} - `!v strftime("%Y-%m-%d")`

Attendees: $2

Notes
	$3

Action items
	$4
endsnippet

snippet talknotes "Conference talk notes template" b
Talk: ${1:Title} - `!v strftime("%Y-%m-%d")`

Speaker: ${2:Speaker name}

Notes
	$3
---
endsnippet
